.badge{
    padding: 8px 12px;
    border-radius: 0px;
    font-size: 15px;
    font-weight: 500 !important;
    font-family: $font-desc;
    margin-bottom: 10px;

    &.badge-warning{
        background: $yellow-1;
    }

    &.badge-secondary{
        background: $gold-1;
        color: $primary-color;
    }

    &.badge-primary{
        background: $primary-color;
    }

    &.badge-danger{
        background: $red-1;
    }
}