.breadcrumb {
    background: transparent;
    align-items: center;
    margin: 0 0 1.25rem;
    padding: 0;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
        li {
            display: inline-block;
            position: relative;
            padding: 0 1rem;
            line-height: 1;
            vertical-align: bottom;
            font-family: $font-desc;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.5px;
            color: $white-1 !important;

            &:first-child{ padding-left: 0; }
            &:last-child{ font-weight: 500; }

            &:not(:last-child):after {
                position: absolute;
                font-family: FontAwesome;
                right: 0;
                content: "\f105";
                width: 1px;
            }
        
            a{
                color: $white-1 !important;
            }
        }
    }
}