.card {
	transition: 0.3s all ease;
	// @include box-shadow(0, 6px, 10px, 0px, $white-blue-old);
    border: 1px solid $black-4 !important;
    border-radius: 0 !important;

    &.rad-5{
        border-radius: 5px !important;
    }

    &.card-gray{
        background: $white-3 !important;
        border: 1px solid $white-4 !important;

        &.border-0{
            border: 0 !important;
        }

        .card-text{
            color: $black-2 !important;
        }

        .title-example{
            font-size: 18px !important;
            line-height: 1.56;
            letter-spacing: 1.33px;
        }
    }

 	.card-text{ 
        font-family: $font-desc !important;
        color: $black-3;
        font-weight: 300 !important;
        font-size: 14px !important;
        margin-bottom: 5px; 
        letter-spacing: 0.5px; 
    }

    &.card-md{ padding: 1rem; }
    &.card-sm{ padding: .5rem .9rem; }

    // &.card-md.card-active-hv{ min-height: 80px;

    &.card-active, &.card-list.active{
        background: $primary-color;
        border-radius: 4px;

        h1, h2, h3, h4, h5, h6, p, a, span{
            color: $white-1 !important;
        }

        a.btn-default{ color: $primary-color !important; }

        .card-title{
            h1, h2, h3, h4, h5, h6, p, a, span{
                font-size: 15px;
                letter-spacing: 0.3px;
            }
        }
    }

    &.card-list{
        &:hover{
            transition: 0.3s all linear;
            margin-left: 10px;
        }

        &.active{ margin-left: 10px; }
    }

    &.card-slick-custom{
        &.slick-slide{
            padding: 0;

            img{
                border: 0;
            }
        }
    }

    &.card-panel{
        border-radius: 5px !important;
        border: solid 1px $white-4 !important;
        background-color: $white-3 !important;
        padding: 1.5rem;
    }
}

.card-title{
    font-family: $font-desc;
    color: $gold-1;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 8px;
    line-height: 25px;
    letter-spacing: 0.4px;

    &.strong{ 
        h1, h2, h3, h4, h6, p, a, span{
            font-weight: 600; 
        }
    }

    &.title-sm{ font-size: 16px; }
}

.card-img-top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-img-bottom{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-pd-md{
    @media screen and (min-width: 768px){
        padding: 2rem;
    }
}

.card-body-md{
    position: relative;
    min-height: 330px;
}

.body-lg{
    padding: 2.5rem;
}

.card-body .icon-featured{
    width: auto;
    height: 56px;
}

.card-image-only{
    position: relative;
    
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background-image: linear-gradient(to right, rgba(75, 0, 0, 0.67), rgba(75, 0, 0, 0));
    }

    .img-bg{
        height: 225px;
        width: 100% !important;
        object-fit: cover;
        object-position: center;
    }
}

.card-author{
    @include display-flex(flex);

    &.no-border{
        border: 0 !important;
    }
    
    .img-profile{
        width: 85px;
        height: 85px;
        object-fit: cover;
        object-position: center;
        margin-right: 1.2rem;

        &.img-rounded{
            border-radius: 50%;
        }
    }

    .info-profile{
        position: relative;

        .title{
            @include font($font-desc, 15px, 400, $black-1);
            letter-spacing: 0.5px;
            margin-bottom: 1rem;
            line-height: 25px;

            &.title-font-500{
                font-weight: 500 !important;
            }
        }

        .desc{
            @include font($font-desc, 13px, 300, $black-1);
            letter-spacing: 1px;
            margin-bottom: 0;
            line-height: 25px;
        }
    }
}

.card-product{
    .content-list{
        position: relative;
        min-height: 115px;
    }
}