.form-control-custom{
  border: 1px solid $white-2;
  width: 100%;
  padding: 0.7rem;
  @include font($font-desc, .9rem, 500, $black-4);
  border-radius: 3px; 

  @include placeholder($gray-blue-2);

  &:focus {
    border: 0.1rem solid #59a0d7;
    outline: none; 
  }
}

.form-control, .tagator_element{
  @include radius(0);
  @include placeholder($black-6);
  @include font($font-desc, 14px, 400, $black-1);
  letter-spacing: .5px;
  line-height: 1;
  border: 1px solid $black-4;
  height: calc(2.6rem + 5px);
  padding: .75rem;

  &.form-md{
    padding: .5rem 1rem;
    height: calc(2.9rem + 2px);
  }

  &:focus{
    box-shadow: none;
    outline: none;
    border: 1px solid $primary-color;
  }
}

select.form-control{ text-indent: 6px; }

.has-icon{
  position: relative;
  // height: calc(2.6rem + 5px);
  font-family: $font-desc !important;
  font-weight: 400 !important;
  font-size: 15px !important;

  .form-control {
    padding-right: 2.375rem;
  }

  .form-control-icon {
    position: absolute;
    z-index: 1000;
    display: flex;
    width: 2.8rem;
    height: 2.9rem;
    line-height: unset;
    text-align: center;
    pointer-events: none;
    color: $black-6;
    align-items: center;
    justify-content: center;
    right: 0;
  }
}

.inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.file-box {
  display: inline-block;
  width: 100%;
  line-height: unset;
}

.tagator_options{
  margin: 20px 0;
  padding: 0;
  border: 1px solid $white-2;

  li{
    @include font($font-title, 15px, 500, $black-1);
    padding: 10px;
    text-transform: capitalize;

    &.active{
      background: $primary-color;
      color: $white-1 !important;
    }
  }
}

.tagator_element{
  height: auto !important;
  min-height: calc(2.6rem + 2px);
}

.tagator_tag {
  display: inline-block;
  @include font($font-title, 14px, 500, $white-1);
  background-color: $yellow-1;
  margin: 2px;
  position: relative;
  vertical-align: middle;
  padding: 10px 28px 10px 20px;
  border-radius: 80px;
  text-transform: capitalize;
}


.tagator_tag_remove {
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  vertical-align: middle;
  cursor: pointer;
  @include font($font-title, 12px, 500, $white-1);
}

.form-line{
  border: 0;
  border-bottom: 1px solid $white-4;
  border-radius: 0 !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 1.7;
  letter-spacing: 1px;
  color: $black-1 !important;
  padding-left: 0;
  padding-top: 0;

  &:hover, &:focus{
    border: 0;
    border-bottom: 1px solid $white-4;
  }
}

.input-group{
  border: 1px solid $black-4;

  .form-control{
    border: 0;
  }

  .input-group-append{
    .input-group-text{
      font-size: 13px !important;
      background: transparent;
      border: 0;
    }
  }
}

.form-transparent{
  background: transparent;
  border: 1px solid $gold-1;
  border-radius: 0;
  color: $gold-1 !important;
  @include placeholder($gold-1);

  &:hover, &:focus{
    background: transparent;
    border: 1px solid $gold-1;
  }
}