ul.list-default{
	list-style: none;
  	padding: 0;
  	margin: 0;

  	li{
		list-style: none; 
		@include font($font-title, 16px, 500, $black-1);
		margin-bottom: 1rem;
		padding-left: 2em;
		display: flex;
    	align-items: center;

		&::before{
			content: "";
		    position: absolute;
		    font-size: 11px;
		    left: 0;
		    border-radius: 50%;
		    width: 9px;
		    height: 9px;
		    border: solid 1px $black-7;
		    background-color: $primary-color;
		}
	}
}

ul.list-module-icon {
    padding-left: 0;
	list-style: none;
	
	li {
		display: flex;
		align-items: center;
		@include font($font-title, .9rem, 600, $black-1);
		letter-spacing: .5px;
		margin-bottom: 1rem;

		.icon{
			max-width: 19px;
			margin-right: 10px;
			max-height: 22px;
		}
	}
}

ul.pagination{
	.page-item.active .page-link,
	.nav-next,
	.nav-prev {
		z-index: 1;
		color: $white-1 !important;
		background-color: $primary-color !important;
		border-color: $primary-color !important;
	}
	.page-item.active .page-link:hover{
		color: $white-1 !important;
	}
	.page-link {
		position: relative;
		margin: 0 1px;
		@include font($font-desc, 14px, 400, $black-1);
		background-color: transparent !important;
		border: 0;
		min-width: 38px;
		min-height: 38px;
		display: flex;
		align-items: center;
		justify-content: center;

		&.nav-next,
		&.nav-prev {
			font-size: 1.5rem !important;
			color: $primary-color !important;
			width: 40px;
			height: 40px;
		}

		&.nav-next{
			margin-left: 1rem;
		}

		&.nav-prev{
			margin-right: 1rem;
		}
	}
	.page-item{
		&.next .page-link{
			color: $primary-color !important;
		}
		&.disabled .page-link{
			color: $black-2 !important;
		}
		.page-link:hover{
			color: $primary-color !important;
		}
	} 
}

.cheklist-listing{
	padding-left: 0;
	list-style: none;

	li{
		position: relative;
		padding-left: 2.2rem;

		&:before{
			content: "";
			position: absolute;
			left: 0;
			top: 8px;
			background: url("../images/icons/checked-1.png");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			width: 16px;
			height: 13px;
			display: block; 		
		}

		p{
			color: $black-1 !important;
		}
	}
}

.bullet-timeline{
	padding-left: 0;
	list-style: none;

	li{
		position: relative;
		padding-left: 2.2rem;
		padding-bottom: 1.5rem;

		&:before{
			content: "";
			position: absolute;
			left: 0;
			top: 8px;
			background: $red-1;
			width: 10px;
			height: 10px;
			display: block;
			border-radius: 50%;
			z-index: 11; 		
		}

		&:not(:last-child):after {
			content: "";
			position: absolute;
			left: 4px;
			top: 8px;
			background: $white-2;
			width: 2px;
			height: 100%;
			display: block;
			z-index: 10;
		}

		p{
			color: $black-1 !important;
			margin-bottom: 0;
		}
	}
}

.sub-materi{
	position: relative;
	list-style: none;
	padding-left: 0;
	
	li{
		position: relative;
		padding-left: 1.5rem;
		padding-bottom: 1rem;
		padding-top: 1rem;
		cursor: pointer;

		&:first-child{
			border-top: 1px solid $white-4;
		}
		&:not(:last-child){
			border-bottom: 1px solid $white-4;
			
			&:after{
				content: unset !important;
			}
		}

		&:before{
			background: $primary-color !important;
			top: 50% !important;
			transform: translateY(-50%) !important;
		}
	}
}

.list-style-none{
	list-style: none;
}

ul.tabs-hr-terms {
	margin-bottom: 0;
	
	li:not(:last-child){
		border-bottom: 1px solid $white-4;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}

	li{
		&.active, &:hover{
			p{
				font-weight: 600 !important;
				transition: .5s;
			}
		}

		p{
			color: $black-1 !important;
			margin-bottom: 0;
			font-size: 14px !important;
		}
	}
}