.radio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.radio-check{
        padding-left: 0;
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark:after {
            display: block;
        }

        &:checked ~ .title .card {
            border: 1px solid $primary-color !important;

            .content{
                color: $primary-color !important;
                
                &:after{
                    font-family: FontAwesome;
                    content: "\f00c";
                    float: right;
                    color: $primary-color;
                }
            }
        }
    }   

    .title{
        @include font($font-title, 14px, 600, $black-1);
        letter-spacing: 1px;
    }

    .checkmark {
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        top: 3px;

        &:after {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background: $white-1;
            content: "";
            position: absolute;
            display: none;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border: solid $white-1;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}


.radio-custom .checkmark {
    background: transparent;
    border: 2px solid $primary-color;

    &:after {
        border: 0;
        background: $primary-color;
    }
}