.swiper-container{ padding-bottom: 40px !important; }

.sw-nav-next-our-client, .sw-nav-prev-our-client{
    top: 60% !important;
    background-size: 17px 24px !important;
    background-color: $yellow-1;
    border-radius: 1px;
}

.sw-nav-next-our-client { right: 0 !important; }
.sw-nav-prev-our-client { left: 0 !important; }