.table-responsive{
	border: 1px solid $white-4;
	padding: 1.3rem 2rem;
	border-radius: 5px;
}

.table thead th,
.table tbody td {
	vertical-align: middle;
	@include font($font-title, 16px, 600, $black-1);
	letter-spacing: 1px;
	border-top: 0;
	border-bottom: 1px solid $white-4;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 1.2rem;
}

.table tbody td {
	font-weight: 500 !important;
    padding-top: 1.2rem;
	font-size: 15px !important;
}

.table tbody tr:last-child td{
	border-bottom: 0;
}