.footer-section {
    background: $primary-color;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;

    p{
    	@include font($font-desc, 14px, 300, $white-1);
		letter-spacing: 0.36px;
		line-height: 28px;
	}

	.logo img {
    	max-width: 100px;
    	position: relative;
	}

	.title-list-footer {
		@include font($font-title, 18px, 500, $gold-1);
		letter-spacing: 1px;
	}

	ul.nav-footer {
	    float: left !important;
	    padding: 0;
	    width: 100%;
	    display: block;
		
		li {
		    display: block;
		    float: left;
		    margin-top: .5rem;
		    width: 100%;
		}

		.nav-link {
			@include font($font-desc, 14px, 300, $white-1);	
			letter-spacing: 0.36px;
			padding: 0;
			
			&:hover{
				opacity: .7;
				transition: .5s;
			}
		}
	}

	.divider {
	    background: #46484a;
	    width: 100%;
	    height: .1rem;
	    margin: 2rem 0 1.5rem 0;
	}

	.social li a {
	    background: none;
	    color: $black-2;
	    border: none;
	}
}

.copyright-section{
	position: relative;
	background: $gold-1;
	padding: 10px;

	p{
		@include font($font-desc, 14px, 400, $primary-color);
		letter-spacing: 0.36px;
	}

	.list{
		list-style: none;
		padding: 0;

		li{
			display: inline-block;

			&:not(:last-child){
				margin-right: 2rem;
			}
		}
	}
}